<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<link rel="stylesheet" href="../layui/css/layui.css" media="all">
</head>
<body>

	<div style="width: 70%;margin: 0 auto;">
		<table id="demo" lay-filter="test" ></table>
	</div>

	<script src="../layui/layui.js"></script>
	<script>
		layui.use('table', function() {
			var table = layui.table;

			//第一个实例
			table.render({
				elem : '#demo',
				height : 315,
				url : 'getList', //数据接口
				page : true,//开启分页
				skin : "line",
				even : "ture",
				cols : [ [ //表头
				{
					field : 'id',
					title : 'ID',
					sort : true,
					fixed : 'left'
				}, {
					field : 'name',
					title : '用户名'
				}, {
					field : 'sex',
					title : '性别',
					sort : true
				}, {
					field : 'age',
					title : '年龄'
				}, {
					field : 'birth',
					title : '生日'
				} ] ]
			});

		});
	</script>
</body>
</html>